{% extends "airflow/master.html" %}

{% block title %}{{ title }}{% endblock %}



{% block body %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 <style media="screen" type="text/css">
     td {
      max-width: 230px;
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden;
       word-break: break-word;
        vertical-align: top;
     }
     td:hover {
        overflow: visible;
        white-space: normal;
        }
     </style>
     
    <div class="row">        
            <h1 class="text-center login-title">TAC</h1>
         
  
  <div id="introDiv">
   
    <table class="table table-striped table-bordered"  id="intro">
                <thead></thead>
                <tbody></tbody>
    </table>  
  </div>
  
  
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='data-tables.js') }}"> </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(document).ready(function(){
        $( "#tabs" ).tabs();
   /// });
  


   //$("#ex,#lo,#tr").on('click',function (){
    
      
     intro_table = $("#intro").dataTable({
                    "aoColumns": [
                        { "mData": "rule", 'sTitle': 'Name', 'sWidth': '10%', 'bSortable': true },
                        { "mData": "syntax", 'sTitle': 'Type', 'sWidth': '20%', 'bSortable': true },
                        { "mData": "example", 'sTitle': 'arguments', '20%': 'auto', 'bSortable': true},
                        { "mData": "desc", 'sTitle': 'description', '40%': 'auto', 'bSortable': true},
                        { "mData": "mandatory", 'sTitle': 'Location', '10%': 'auto', 'bSortable': true},
                       
                   ],
                   "sScrollY": "500px",
                   "bPaginate": true,
                    "pageLength": 50

 });

      var data = {{ data_table| tojson|safe }}
     intro_table.fnAddData(data)

   });


  </script>
{% endblock %}

